{% extends "base.html" %}
{% block content %}

{# Title #}
<div class="w3-container w3-center w3-card-4 w3-brown w3-round-xxlarge w3-dark-grey">
    <h1> <font color="yellow" class="w3-xxxlarge w3-wide"> <b>RAND-GUESS</b> </font> </h1>
    <p>Guess the Random Number!</p>
</div>

{# Points Display #}
<div class="w3-container w3-center w3-display-left w3-dark-grey w3-border w3-border-yellow w3-round-large" style="margin-left:100px;">
    <p><b>POINTS</b></p>
    <h1 id="current_points"></h1>
</div>
<br>

{# Main Form #}
<div class="w3-card-4 w3-container w3-display-bottommiddle w3-hover-shadow w3-padding-48 w3-round-xxlarge w3-dark-grey w3-border w3-border-yellow" style="margin-bottom:10px;">
    <header class="w3-container">
        <h1><font color="yellow" class="w3-xxlarge"> Enter Your Guess</font></h1>
    </header>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.user_guess.label }} {{ form.user_guess(class="w3-round-large", style='max-width:50px') }}
        <br><br>
        {{ form.submit(class="w3-button w3-yellow w3-round-large w3-ripple") }}
        <br><br>
        {{ form.num_range_select.label }} {{ form.num_range_select(class="", min='3', max='25') }}
        {{ form.num_range_text(class="w3-round-large", style='max-width:40px') }}
    </form>
    <br>
    <fieldset class="w3-round-large">
        <legend>POINTS</legend>
    <div>
        <label for="positive_points">Correct Guess </label>
        <p id="positive_points" class="w3-green w3-round w3-border w3-center" style="min-width:50px;margin-left:10px;display: inline-block;"></p>
    </div>

    <div>
        <label for="negative_points">Wrong Guess </label>
        <p id="negative_points" class="w3-red w3-round w3-border w3-center" style="min-width:50px;margin-left:10px;display: inline-block;"></p>
    </div>
    </fieldset>
</div>


{# modal to show result #}
<div id="status_modal" class="w3-modal" style="border:16px solid grey">
      {% if guess_result == 'SUCCESS' %}
          {% set modal_bg_color = 'w3-green' %}
          {% set modal_border_color = 'green' %}
      {% else %}
          {% set modal_bg_color = 'w3-red' %}
          {% set modal_border_color = 'red' %}
      {% endif %}
    <div class="w3-modal-content" style="border:16px solid {{ modal_border_color }}">
      <header class="w3-container {{modal_bg_color}}">
        <span id="status_modal_close"
        class=" w3-button w3-display-topright">&times;</span>
      </header>
      <div class="w3-container {{modal_bg_color}}">
        <h1 class="w3-center"> {{ guess_result }} </h1>
          {% if guess_result == 'SUCCESS' %}
              <p class="w3-center"> You Guessed It Correct!</p>
              <br>
          {% else %}
              <p class="w3-center">Correct Number = {{ system_guess }} </p>
              <br>
          {% endif %}
      </div>
    </div>
</div>
{# end of modal to show result #}

{# Attempt History #}
<div class="w3-display-right w3-dark-grey w3-round-large w3-border w3-border-yellow" style="overflow:scroll;padding-left: 10px;padding-right: 5px;max-height:200px;max-width:200px;min-width:120px;margin-right:50px;">
    <p class="w3-center"><b>HISTORY</b></p>
  <div id="attempt_count"></div>
</div>

{# JAVA-SCRIPT #}
<script>
    {# no need to use: var num_range_select = document.getElementById("{{ form.num_range_select.id }}") #}
    var num_range_select = document.getElementById("num_range_select")
    var num_range_text = document.getElementById("num_range_text")
    var positive_points_text = document.getElementById("positive_points")
    var negative_points_text = document.getElementById("negative_points")
    var current_points_text = document.getElementById("current_points")
    var status_modal = document.getElementById('status_modal');
    var status_modal_close = document.getElementById('status_modal_close');

    //{# initial value of range slider #}
    //num_range_text.value = '5';

    if(sessionStorage.num_range_text){
        num_range_text.value = sessionStorage.num_range_text;
    }
    else {
        sessionStorage.num_range_text = '5';
        num_range_text.value = sessionStorage.num_range_text;
    }

    {# initial points for correct and wrong guess#}
   positive_points.innerHTML = Number(num_range_text.value) ;
   negative_points.innerHTML = parseInt(Number(num_range_text.value)/5);
   current_points_text.innerHTML = 0;

    {# dynamically change value, as user slides the range-slider #}
    {# Ref: https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_oninput #}
    num_range_select.addEventListener("input", update_num_range_text);

      function update_num_range_text() {
      {# content of text filed = value of from range selector input #}
      num_range_text.value = num_range_select.value;

      positive_points.innerHTML = Number(num_range_text.value);
      negative_points.innerHTML = parseInt(Number(num_range_text.value)/5);
      sessionStorage.num_range_text = num_range_text.value;

      }

      {# Ref: https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_sessionstorage2 #}
      function update_attempt_count(result) {
          var attempt_count = document.getElementById('attempt_count');
          if(result == 'SUCCESS' ) {
              attempt_hist_color = 'w3-green';
              attempt_hist_status = 'SUCCESS';
              point_change_for_this_attempt = Number(positive_points.innerHTML);
          }
          else {
            attempt_hist_color = 'w3-red';
            attempt_hist_status = 'FAIL';
            point_change_for_this_attempt = Number(negative_points.innerHTML) * -1 ;
          }

          if(sessionStorage.attempt_count){
              sessionStorage.attempt_count = Number(sessionStorage.attempt_count) + 1 ;
              sessionStorage.attempt_count_html = '<p class="w3-round ' +  attempt_hist_color + '" style="max-width:170px">' + sessionStorage.attempt_count +'.' + attempt_hist_status +'</p>' + sessionStorage.attempt_count_html;
              sessionStorage.current_points = Number(sessionStorage.current_points) + point_change_for_this_attempt;
              current_points_text.innerHTML = Number(sessionStorage.current_points);
          }
          {# if first attempt, set/store initial values#}
          else {
              sessionStorage.attempt_count = 1;
              sessionStorage.attempt_count_html = '<p class="w3-round ' +  attempt_hist_color + '" style="max-width:170px">1.' + attempt_hist_status +'</p>';
              sessionStorage.current_points = point_change_for_this_attempt;
              current_points_text.innerHTML = Number(sessionStorage.current_points)
          }
      attempt_count.innerHTML = attempt_count.innerHTML + sessionStorage.attempt_count_html;
      }

      if ( '{{ guess_result }}' != 'NIL') {
      status_modal.style.display='block'
      update_attempt_count('{{ guess_result }}')
      }

      {# modal close button #}
      status_modal_close.addEventListener("click", function() {status_modal.style.display='none';});

</script>

{% endblock %}